target
.gradle
.project
.classpath
.settings
/.project
/src/main/webapp/views/.idea
.idea
*.iml
${war.webappDirectory}
/bin
build
classes
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
focus-passport.ipr
focus-passport.iws
gradle-wrapper.*
